@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
}
@font-face {
    font-family: "ProximaNova";
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "ProximaNova";
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: "ProximaNova";
    font-style: normal;
}