.header {
    border-bottom: 1px solid #4189CD;
    height: 38px;
    margin: 0 auto;
    padding: 19px 0;
    width: 100%;
	-moz-box-sizing: border-box;
    background: none repeat scroll 0 0 #FFFFFF;
	position:fixed;
	z-index:10;
}
.header .header_content {
}
.header div.mob_sub_menu_icon {
	vertical-align: middle;
	padding-left: 15px;
	position: relative;
	display: none;
}
.header div.mob_sub_menu_icon a img {
	margin-top: 3px;
	width: 24px;
	display: none;
}
.header .header_logo_container {
    display: inline-block;
    vertical-align: middle;
	padding-left: 30px;
}
.header div.header_logo_container a img {
	width: 36px;
}
.header .header_account_container {
    margin-top: 8px;
	font-size: 13x;
    float: right;
    font-size: 13px;
	display: inline-block;
}
.header .header_account_container .nav {
    list-style: none outside none;
    margin-top: 0;
}
.header .header_account_container .nav li {
    float: left;
    list-style: none outside none;
    margin-left: 10px;
    position: relative;
    z-index: 100;
}
.header .header_account_container .nav li.notification {
    padding: 0 20px 0 20px;
}
.header .header_account_container .nav li.notification {
    padding: 0 8px 0 20px;
}
.header .header_account_container .nav li.notification a {
    padding: 0 6px 0 8px;
}
.header .header_account_container .nav li.notification a img {
    width: 18px;
	margin-top: -5px;
}
.header .header_account_container .nav li.notification a span {
	font-weight: bold;
	padding-left: 3px;
	vertical-align: super;
}
.header .header_account_container .nav li.notification div.notification_dropdown {
	position: absolute;
	margin: 25px 0;
	right: 60px;
	border: 2px solid #4189CD;
	background: #FFFFFF;
	z-index: 10;
	width: 150px;
	display: none;
}
/* Triggered by JavaScript, remove block comments below if JavaScript is not being used */
/*.header .header_account_container .nav li.notification a.notification_link:hover + div.notification_dropdown {
	display: block;
}*/
.header .header_account_container .nav li.notification div.messages_dropdown {
	position: absolute;
	margin: 25px 0;
	right: 15px;
	border: 2px solid #4189CD;
	background: #FFFFFF;
	z-index: 10;
	width: 150px;
	display: none;
}
/* Triggered by JavaScript, remove block comments below if JavaScript is not being used */
/*.header .header_account_container .nav li.notification a.messages_link:hover + div.messages_dropdown {
	display: block;
}*/
.header .header_account_container .nav li.user_account_menu_icon {
    display: inline-block;
	padding: 0 15px 0 0;
	vertical-align: middle;
}
.header .header_account_container .nav li.user_account_menu_icon a.desktop_link img {
    margin-top: -5px;
	width: 18px;
}
.header .header_account_container .nav li.user_account_menu_icon a.mobile_link{
	display: none;
}
.header .header_account_container .nav li.user_account_menu_icon div.user_account_dropdown {
	position: absolute;
	margin: 25px -60px;
	border: 2px solid #4189CD;
	background: #FFFFFF;
	z-index: 10;
	width: 150px;
	display: none;
}
/* Triggered by JavaScript, remove block comments below if JavaScript is not being used */
/*.header .header_account_container .nav li.user_account_menu_icon:hover > div.user_account_dropdown {
	display: block;
*/

.header .header_account_container .nav li .link {
    float: left;
    margin: 0;
}
.header .header_account_container .nav li.mob_main_menu_icon {
	display: none;
}
.header .header_account_container .nav li.mob_main_menu_icon a {
	display: block;
}
.header .header_account_container .nav li.mob_main_menu_icon div.main_menu_mobile_dropdown {
	display: none;
}