@media only screen and (max-width: 960px) {

.header {
    position:static;
}
.header .header_logo_container {
	padding-left: 15px;
}
.header div.mob_sub_menu_icon {
	height: 40px;
	position absolute;
	display: inline-block;
}
.header div.mob_sub_menu_icon a img {
	display: inline-block;
}
.header div.mob_sub_menu_icon div.sub_menu_dropdown {
	display: none;
	top: 37px;
	margin: 0;
	border: 2px solid #4189CD;
	background: #FFFFFF;
	z-index: 10;
	width: 180px;
	float: left;
	position: absolute;
}
/* Triggered by JavaScript, remove block comments below if JavaScript is not being used */
/*.header div.mob_sub_menu_icon:hover > div.sub_menu_dropdown {
	display: block;
}*/
.header div.mob_sub_menu_icon div.sub_menu_dropdown ul {
	margin: 0;
	padding: 0 0 0 -28px;
}
.header div.mob_sub_menu_icon div.sub_menu_dropdown li {
	list-style: none outside none;
	padding: 8px;
	color: #598ABF;
	border-bottom: 1px dotted #4189CD;
	width: 164px;
	margin: 0 0 0 -40px;
}
.header div.mob_sub_menu_icon div.sub_menu_dropdown li:hover {
	padding: 8px;
	color: #5A6FC0;
	background: #DADADB;
	cursor: pointer;
	border-bottom: 1px solid #4189CD;
	font-weight: bolder;
}
.header div.mob_sub_menu_icon div.sub_menu_dropdown li.back {
	background: #DADADB;
}
.header div.mob_sub_menu_icon div.sub_menu_dropdown li.back a {
	color: #000000;
}
.header div.mob_sub_menu_icon div.sub_menu_dropdown li ul {
	display: none;
}
.header div.mob_sub_menu_icon {
	width: 24px;
	margin-top: 5px;
}
.header .header_logo_container {
    margin-top: -10px;
}
.header .header_account_container .nav li.notification {
	display: none;
}
.header .header_account_container .nav li.user_account_menu_icon a.desktop_link {
	display: none;
}
.header .header_account_container .nav li.user_account_menu_icon a.mobile_link{
	display: block;
}
.header .header_account_container .nav li.user_account_menu_icon:hover {
	width: 24px;
}
.header .header_account_container .nav li.user_account_menu_icon a img{
	width: 24px;
}
.header .header_account_container .nav li.user_account_menu_icon div.user_account_dropdown {
	margin: 34px -135px;
}
.header .header_account_container .nav li.mob_main_menu_icon {
	display: inline-block;
	padding: 0 15px 0 0;
	vertical-align: middle;
}
.header .header_account_container .nav li.mob_main_menu_icon a img {
	width: 24px;
}
.header .header_account_container .nav li.mob_main_menu_icon:hover {
	width: 24px;
}
.header .header_account_container .nav li.mob_main_menu_icon div.main_menu_mobile_dropdown {
	margin: 33px 0 0 -160px;
	border: 2px solid #4189CD;
	background: #FFFFFF;
	z-index: 10;
	width: 180px;
	float: right;
	position: absolute;
}
/* Triggered by JavaScript, remove block comments below if JavaScript is not being used */
/*.header .header_account_container .nav li.mob_main_menu_icon:hover > div.main_menu_mobile_dropdown {
	display: block;
}*/
.header .header_account_container .nav li.mob_main_menu_icon div.main_menu_mobile_dropdown li {
	padding: 8px;
	color: #598ABF;
	border-bottom: 1px dotted #4189CD;
	width: 164px;
	margin: 0 0 0 -40px;
}
.header .header_account_container .nav li.mob_main_menu_icon div.main_menu_mobile_dropdown li:hover {
	padding: 8px;
	color: #5A6FC0;
	background: #DADADB;
	cursor: pointer;
	border-bottom: 1px solid #4189CD;
	font-weight: bolder;
}
.header .header_account_container .nav li.mob_main_menu_icon div.main_menu_mobile_dropdown li.back {
	background: #DADADB;
}
.header .header_account_container .nav li.mob_main_menu_icon div.main_menu_mobile_dropdown li.back a {
	color: #000000;
}
.header .header_account_container .nav li.mob_main_menu_icon div.main_menu_mobile_dropdown li ul {
	display: none;
}

}