@media only screen and (max-width: 960px) {

.footer .footer_col {
	max-width: none;
	width: 100%;
	margin-left: 0;
	display: inline-block;
}
.footer .footer_col ul {
	width: 100px;
	margin-left: auto;
	margin-right: auto;
}

}