<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections></configSections>
  <appSettings>
    
    <add key="CSS_Target_File_Name" value="css\minifiedCSS.css"/>
    <add key="CSS_File_1" value="css\fonts.css"/>
    <add key="CSS_File_2" value="css\general_rules.css"/>
	<add key="CSS_File_3" value="css\general_rules_responsive.css"/>
	<add key="CSS_File_4" value="css\layout.css"/>
	<add key="CSS_File_5" value="css\layout_responsive.css"/>
	<add key="CSS_File_6" value="css\header.css"/>
	<add key="CSS_File_7" value="css\header_responsive.css"/>
	<add key="CSS_File_8" value="css\footer.css"/>
	<add key="CSS_File_9" value="css\footer_responsive.css"/>
	<add key="CSS_File_10" value="css\content.css"/>
	<add key="CSS_File_11" value="css\content_responsive.css"/>
    
    <add key="JS_Target_File_Name" value="js\minifiedJS.js"/>
    <add key="JS_File_1" value="js\JS.js"/>
    <add key="JS_File_2" value="js\WebApp.LayOut.js"/>
  
  </appSettings>
</configuration>